.btn {
    background: #FFF9EB;
    border-radius: 15px;
    box-shadow: 4px 4px #FF542F, 9px 9px #3D3D3D;
    color: #3D3D3D;
    text-transform: lowercase;
    border: solid 2px #3D3D3D;
  
    text-decoration: none;
  
    padding: 12px 30px;
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    position: relative;
    z-index: 1;
    transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    cursor: pointer;
    overflow: hidden;
    transition-delay: 0s !important;
    text-transform: uppercase !important;
    letter-spacing: 1.5px;
    font-family: freight-sans-pro, sans-serif;
  }
  .btn::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: #3D3D3D;
    z-index: -1;
    transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  .btn:hover::before {
    width: 100%;
    left: 0;
    right: unset;
  }
  .btn:hover {
    box-shadow: 0 0 #FF542F, 0 0 #3D3D3D;
    color: white;
  }

  .btn-2 {
    background: #FFF9EB;
    border-radius: 15px;
    box-shadow: 4px 4px #6FC21C, 9px 9px #3D3D3D;
    color: #3D3D3D;
    text-transform: lowercase;
    border: solid 2px #3D3D3D;
  
    text-decoration: none;
  
    padding: 12px 30px;
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    position: relative;
    z-index: 1;
    transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    cursor: pointer;
    overflow: hidden;
    transition-delay: 0s !important;
    text-transform: uppercase !important;
    letter-spacing: 1.5px;
    font-family: freight-sans-pro, sans-serif;
  }
  .btn-2::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: #3D3D3D;
    z-index: -1;
    transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  .btn-2:hover::before {
    width: 100%;
    left: 0;
    right: unset;
  }
  .btn-2:hover {
    box-shadow: 0 0 #FF542F, 0 0 #3D3D3D;
    color: white;
  }